*,
*:after,
*::before {
  padding: 0 0;
  margin: 0 0;
  box-sizing: border-box;
}
body, html {
  scroll-behavior: smooth;
  height: 100%;
  font-family: 'Epilogue', sans-serif;
  background-color: #BBDEFB;
}


/*  */

  .grammar{
    margin-top: 80px;
  }

  .grammar__image{
      width: 600px;
      height: 70px;
  }



.practice{
  margin-top: 70px;
  margin-bottom: 30px;
}

  .practice__wrapper{
    background-color: #dce9f1;
    padding: 50px 30px;
    width: 1000px;
    display: flex;
    justify-content: center;
    font-size: 35px;
    border-radius: 30px;
  }

  .practice__text{
    margin-bottom: 10px;
    display: flex;
    gap: 15px;
  }

  select{
    border: none;
    border-radius: 10px;
    padding: 8px;
    font-style: oblique;
    font-weight: 600;
    font-size: large;
  }

  .practice__button{
    padding: 16px 24px;
    text-transform: uppercase;
    display: flex;
    border: 6px solid #2e1b72;
    border-radius: 9px;
    margin-left: 569px;
    cursor: pointer;
  }

  .practice__button:hover{
    transition: all .5s;
    box-shadow: -1px 1px 33px -7px rgba(0,0,0,0.76);
    -webkit-box-shadow: -1px 1px 33px -7px rgba(0,0,0,0.76);
    -moz-box-shadow: -1px 1px 33px -7px rgba(0,0,0,0.76);
  }

  .practice{
    margin-bottom: 50px;
  }



  /* ///// */




  .video{
    margin-top: 80px;
  }






  /* //////////////////////// quiz */



  /* .quiz-container {
    max-width: 700px;
    min-height: 497px;
    background-color: #ffffff;
    margin: 30px auto;
    border-radius: 10px;
    padding: 25px; 
}

.question-number h3 {
    color: darkcyan;
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding-bottom:  10px;
}

#question {
    font-size: 24px;
    color: #000000;
    padding: 15px 0;
    margin-bottom: 10px;
}

.options {
    margin-bottom: 15px;
}

.options div {
    background-color: #cccccc;
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.options div:hover {
    background-color: #ccccccaf;
}

.options div.correct {
    color: #ffffff;
    background-color: green;
}

.options div.wrong {
    color: #ffffff;
    background-color: red;
}

.options div.disabled {
    pointer-events: none;
}

.button #btn-next {
    padding: 10px 50px;
    background-color: darkcyan;
    font-size: 18px;
    color: #ffffff;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin-bottom: 15px;
}

.button #btn-next:hover {
    background-color: #009687b6;
}

#answers-tracker {
    border-top: 1px solid #cccccc;
    padding-top: 15px;
}

#answers-tracker div{
    height:  40px;
    width: 40px;
    background-color: #cccccc;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
}

#answers-tracker div.correct {
    background-color: green;
}

#answers-tracker div.wrong {
    background-color: red;
}

.quiz-over-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
}

.quiz-over-modal.active {
    display: flex;
}

.quiz-over-modal .content {
    background-color: darkcyan;
    padding: 30px;
    border-radius: 10px;
    flex-basis: 700px;
    max-width: 700px;
    color: #ffffff;
    text-align: center;
}

.quiz-over-modal .content h1 {
    font-size: 36px;
    margin: 0 0 20px;
}

.quiz-over-modal .content button {
    padding: 15px 50px;
    border: none;
    background-color: #ff9800;
    transition: all .2s ease-in-out;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    color: #ffffff;
}

.quiz-over-modal .content button:hover {
    background-color: #ff9900b4;
} */


.quiz-container {
  max-width: 1000px;
  min-height: 443px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 11px 39px;
}

.question-number h3 {
  color: darkcyan;
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding-bottom:  10px;
}

#question {
  font-size: 24px;
  color: #000000;
  padding: 15px 0;
  margin-bottom: 10px;
}

.options {
  margin-bottom: 15px;
}

.options div {
  background-color: #cccccc;
  font-size: 16px;
  color: #000000;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.options div:hover {
  background-color: #ccccccaf;
}

.options div.correct {
  color: #ffffff;
  background-color: green;
}

.options div.wrong {
  color: #ffffff;
  background-color: red;
}

.options div.disabled {
  pointer-events: none;
}

.button #btn-next {
  padding: 10px 50px;
  background-color: darkcyan;
  font-size: 18px;
  color: #ffffff;
  border: none; 
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  margin-bottom: 15px;
}

.button #btn-next:hover {
  background-color: #009687b6;
}

#answers-tracker {
  border-top: 1px solid #cccccc;
  padding-top: 15px;
}

#answers-tracker div{
  height:  40px;
  width: 40px;
  background-color: #cccccc;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}

#answers-tracker div.correct {
  background-color: green;
}

#answers-tracker div.wrong {
  background-color: red;
}

.quiz-over-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
  display: none;
  align-items: center;
  justify-content: center;
}

.quiz-over-modal.active {
  display: flex;
}

.quiz-over-modal .content {
  background-color: darkcyan;
  padding: 30px;
  border-radius: 10px;
  flex-basis: 700px;
  max-width: 700px;
  color: #ffffff;
  text-align: center;
}

.quiz-over-modal .content h1 {
  font-size: 36px;
  margin: 0 0 20px;
}

.quiz-over-modal .content button {
  padding: 15px 50px;
  border: none;
  background-color: #ff9800;
  transition: all .2s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  color: #ffffff;
}

.quiz-over-modal .content button:hover {
  background-color: #ff9900b4;
}


.video{
  margin-top: 80px;
}

.video__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}
.iframe{
  border-radius: 5px;
}
.video__wrapper{
  margin-bottom: -50px;
  
}

h3{
  font-size: 30px;
  margin: 10px auto;
}

