.questions{
margin-top: 60px;
}
.questions__wrapper{
    background-color: #ffff;
    border-radius: 40px;
    padding: 35px 74px;
}
.questions__wrapper li{
    font-size: 30px;
    margin-top: 20px;
    font-weight: 500;
}